<div style="margin-left: 100px;">
  <div style="width: 200px; float: left;">
    <%= top_contributor['contributor_name'] %>
  </div>
  <div style="width: 100px; float: none;">
    <%= top_contributor['total_dollars'] %>
  </div>
</div>
